rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 1. PUBLIC READ: Allow everyone to read any collection
    match /{document=**} {
      allow read: if true;
    }

    // Relaxed for rapid development & Quick-Access testing
    match /{document=**} {
      allow write: if true; 
    }
  }
}
